<h1 class="companyDataTitle">Stock market companies</h1>
<div class="row">
    <div class="col-md-3 mb-3">
        <form id="getCompanyData" action="{{{ url }}}" method="get">
            <div class="row">
                <label for="selectCompany">Select company</label>
                <select id="selectCompany" class="form-select">
                    <option value="">Select here</option>
                    <option value="AAPL">Apple (AAPL)</option>
                    <option value="TWTR">Twitter (TWTR)</option>
                    <option value="FB">Facebook (FB)</option>
                    <option value="AMZN">Amazon (AMZN)</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div class="companyData">

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="companyTitle">
                <h4 class="companyName">{{{ title }}}</h4>
                <h2 class="companyQuoteValue">{{{ quoteData.latestPrice }}} <strong class="{{{ quoteData.quoteChangeClassView }}}">{{{ quoteData.quoteChange }}}</strong></h2>
            </div>

            <table class="companyQuoteData">
                <tbody>
                    <tr>
                        <td>Previous close</td>
                        <td>{{{ quoteData.previousClose }}}</td>
                    </tr>
                    <tr>
                        <td>Previous volume</td>
                        <td>{{{ quoteData.previousVolume }}}</td>
                    </tr>
                    <tr>
                        <td>Day's range</td>
                        <td>{{{ quoteData.low }}} - {{{ quoteData.high }}}</td><!-- low - high (both can be null) -->
                    </tr>
                    <tr>
                        <td>Year's change</td>
                        <td>{{{ quoteData.week52Low }}} - {{{ quoteData.week52High }}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-8 mb-4">
            <h4 class="companyInfo">Company description</h4>

            <table class="companyDataTable">
                <tbody>
                    <tr>
                        <td>Industry</td>
                        <td>{{{ companyData.industry }}}</td>
                    </tr>
                    <tr>
                        <td>Web site</td>
                        <td>
                            <a href="{{{ companyData.website }}}" target="blank">{{{ companyData.website }}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Employees</td>
                        <td>{{{ companyData.employees }}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{{ companyData.description }}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    $('#selectCompany').change(() => {
        $('#getCompanyData').attr('action', '{{{ url }}}'+$('#selectCompany').val()).submit();
    });
</script>
