<h1 class="companyDataTitle">Stock market companies</h1>

<div class="row">
    <div class="col-md-3 mb-3">
        <form id="getCompanyData" action="{{{ url }}}" method="get">
            <label for="selectCompany">Select company</label>
            <select id="selectCompany" class="form-select">
                <option value="">Select here</option>
                <option value="AAPL">Apple (AAPL)</option>
                <option value="TWTR">Twitter (TWTR)</option>
                <option value="FB">Facebook (FB)</option>
                <option value="AMZN">Amazon (AMZN)</option>
            </select>
        </form>
    </div>
</div>

<div class="companyData">

    <div class="row">
        <div class="col-md-5 mb-4">
            <div class="companyTitle">
                <h4 class="companyName" id="companyName">{{{ title }}}</h4>

                <h2 class="companyQuoteValue" id="quoteLatestPrice">{{{ quoteData.latestPrice }}} <strong id="quoteChangeString" class="{{{ quoteData.quoteChangeClassView }}}">{{{ quoteData.quoteChangeString }}}</strong></h2>
            </div>

            <div id="quoteDataLoading" class="mt-5 d-none">
                <div class="spinner-grow" style="width: 5rem; height: 5rem"></div>
            </div>

            <table id="quoteDataTable">
                <tbody>
                    <tr>
                        <td>Previous close</td>
                        <td id="quotePreviousClose">{{{ quoteData.previousClose }}}</td>
                    </tr>
                    <tr>
                        <td>Previous volume</td>
                        <td id="quotePreviousVolume">{{{ quoteData.previousVolume }}}</td>
                    </tr>
                    <tr>
                        <td>Day's range</td>
                        <td id="quoteDaysRange">{{{ quoteData.low }}} - {{{ quoteData.high }}}</td><!-- low - high (both can be null) -->
                    </tr>
                    <tr>
                        <td>Year's change</td>
                        <td id="quoteYearsRange">{{{ quoteData.week52Low }}} - {{{ quoteData.week52High }}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="companyDataCol" class="col-md-7 mb-4">
            <h4 class="companyInfo">Company description</h4>

            <div id="companyDataLoading" class="mt-5 d-none">
                <div class="spinner-grow" style="width: 5rem; height: 5rem"></div>
            </div>

            <table id="companyDataTable">
                <tbody>
                    <tr>
                        <td>Industry</td>
                        <td id="companyIndustry">{{{ companyData.industry }}}</td>
                    </tr>
                    <tr>
                        <td>Web site</td>
                        <td id="companyWebsite">
                            <a href="{{{ companyData.website }}}" target="blank">{{{ companyData.website }}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Employees</td>
                        <td id="companyEmployees">{{{ companyData.employees }}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td id="companyDescription">{{{ companyData.description }}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
